In [2]:
#to demonstrate filtering data stored in Dataframe (Single condition filtering, Multiple condition filtering
import pandas as pd

In [12]:
data = {'age': [22, 30, 25, 40],
        'name': ['John', 'Alice', 'Bob', 'Eve'],
        'gender': ['male','male','male','male']}

In [13]:
df = pd.DataFrame(data)

In [14]:
filtered_df = df.query('age > 25')
print(filtered_df)

   age   name gender
1   30  Alice   male
3   40    Eve   male

In [16]:
filtered_df = df.query('age > 25 and gender == "Male"')
print(filtered_df)

Empty DataFrame
Columns: [age, name, gender]
Index: []

In [29]:
filtered_df = df.query('name=="Bob" & gender == "Male"')
print(filtered_df)

Empty DataFrame
Columns: [age, name, gender]
Index: []

In [30]:
df.iloc[:5,]

   age   name gender
0   22   John   male
1   30  Alice   male
2   25    Bob   male
3   40    Eve   male

In [31]:
df.iloc[1:5,]

   age   name gender
1   30  Alice   male
2   25    Bob   male
3   40    Eve   male

In [33]:
df.iloc[2,0]

25

In [35]:
df.iloc[1:3,2]

1    male
2    male
Name: gender, dtype: object

In [36]:
df.iloc[2:7,1:3]

  name gender
2  Bob   male
3  Eve   male